.flex-center {
    display: flex;
    justify-content: center;
    align-items: center; /* This line centers vertically if needed */
}

.button_query {
    width: 100px;
    height: 45px;
    margin-top: 10px;
    border: none;
    background-color: cadetblue;
    color: white;
    justify-content: right;

}
.button-container {

    display: flex;
    justify-content: center; /* Aligns the button to the right of the container */
    width: 100%; /* Ensures the container takes full width if not already set */
}
.clockloader {
    margin-top: 80px;
    display: flex;
    justify-content: center; /* Aligns the button to the right of the container */
    width: 100%; /* Ensures the container takes full width if not already set */
}